@page "{PageNumber?}"
@model CoreWiki.Pages.AllModel
@using Microsoft.AspNetCore.Mvc.Rendering

@{
	ViewData["Title"] = "All";
}

<h2>@Localizer["AllArticles"]</h2>

<pager total-pages="Model.TotalPages" current-page="Model.PageNumber"></pager>

<div class="cwiki-flex-container">
	@foreach (var article in Model.Articles)
	{
	@await Html.PartialAsync("_ArticleRow", article)
	}
</div>
@section Styles {
<style>
	.pageNumber {
		margin: 0px 4px;
	}

	.cwiki-flex-container {
		padding: 0;
		margin: 0;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		justify-content: space-around;
	}

	.cwiki-flex-item {
		width: 360px;
		color: white;
		border-radius: 20px;
	}
</style>
}


