@{
	var title = "Article not found";
	ViewData["Title"] = title;
}
<h1>@title</h1>
<p>Please check that the URL you entered is correct. It's also possible that an article at this address was deleted.</p>
<a href="~/">Go to Homepage</a>