@page
	@model CoreWiki.Pages.CreateModel

		@{
			ViewData["Title"] = "Create";
		}

		<h2>Create New Article</h2>
		<hr />
		<br />
		<div class="row">
			<div class="col-md-12">
				<form method="post">

					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<label asp-for="Article.Topic" class="control-label"></label>
						<input asp-for="Article.Topic" class="form-control" />
						<span asp-validation-for="Article.Topic" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Article.Content" class="control-label"></label>
						<textarea asp-for="Article.Content" class="form-control"></textarea>
						<span asp-validation-for="Article.Content" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input type="submit" value="Create" class="btn btn-default" />
						<input type="file" class="btn btn-default" onchange="openFile(event)" />
					</div>
				</form>
			</div>
		</div>

		<div>
			<a asp-page="./Details">Back to Home</a>
		</div>


		@section Scripts {
		@await Html.PartialAsync("_EditorScript")

		}

		@section Styles {

		@await Html.PartialAsync("_EditorStyle")

		}