@page "{Slug?}"
@model CoreWiki.Pages.DetailsModel

@{
		ViewData["Title"] = "Details";
}

<h2>@Model.Article.Topic</h2>
<h5>Last Published: <span data-value="@Model.Article.Published" class="timeStampValue"> @Model.Article.Published</span></h5>

<markdown markdown="Article.Content" />

<div>
	<a asp-page="./Edit" asp-route-id="@Model.Article.Id">Edit</a>

	@if (Model.Article.Slug != "home-page")
	{
		<text>| </text><a href="~/">Back to Home</a>
			}
		</div>

