@page
@model CoreWiki.Pages.EditModel

@{
	ViewData["Title"] = "Edit";
}

<h2>Edit Article</h2>
<hr />
<br/>
<div class="row">
	<div class="col-md-12">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Article.Topic" class="control-label"></label>
				<input type="hidden" asp-for="Article.Topic" />
				<span>@Model.Article.Topic</span>
			</div>
			<input type="hidden" asp-for="Article.Id" />
			<div class="form-group">
				<label asp-for="Article.Content" class="control-label"></label>
				<textarea asp-for="Article.Content" class="form-control"></textarea>
				<span asp-validation-for="Article.Content" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="./Details">Back to Home</a>
</div>

@section Scripts {
	@await Html.PartialAsync("_EditorScript")

}

@section Styles {

@await Html.PartialAsync("_EditorStyle")

}
