@page
@model CoreWiki.Pages.LatestChangesModel

@{
    ViewData["Title"] = "Latest Changes";
}

<h2>Latest Changes</h2>

<p>
    <a asp-page="Create">New article</a>
</p>

@foreach (var article in Model.Article) {
	@Html.Partial("_ArticleRow", article)
}
