@page
@model CoreWiki.Pages.LatestChangesModel

@{
	ViewData["Title"] = Localizer["LatestChanges"];
}

<h2>@Localizer["LatestChanges"]</h2>

<p>
	<a href="/Create" class="btn btn-outline-success">@Localizer["NewArticle"]</a>
</p>

<div class="cwiki-flex-container">
	@foreach (var article in Model.Articles)
	{
		@await Html.PartialAsync("_ArticleRow", article)
	}
</div>

@section Styles {
	<style>
		.cwiki-flex-container {
			padding: 0;
			margin: 0;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-flow: row wrap;
			justify-content: space-around;
		}

		.cwiki-flex-item {
			width: 360px;
			color: white;
			border-radius: 20px;
		}
	</style>
}
