@page
@using Helpers
@using Microsoft.AspNetCore.Mvc.Rendering
@model SearchModel
@{
	ViewData["Title"] = "Search";
	var searchResult = Model.SearchResult;
}
<h1 class="h1">Search CoreWiki</h1>
<form action="/search" method="get" class="my-2">
	<div class="form-group">
		<div class="input-group">
			<input class="form-control" type="text" name="q" value="@searchResult?.Query" placeholder="Search for articles on CoreWiki"/>
			<div class="input-group-append">
				<button class="btn badge-primary" type="submit">Search</button>
			</div>
		</div>
	</div>
</form>
@if (searchResult != null)
{
	<div class="mb-2">
		@StringHelpers.Pluralize("result", "results", @searchResult.TotalResults, prependCount: true)
		found for <strong>@searchResult.Query</strong>
	</div>

	foreach(var article in searchResult.Articles)
	{
		@Html.Partial("_ArticleRow", article)
	}
}


