@page
@using System.Collections.Generic
@using Microsoft.AspNetCore.Mvc.Rendering
@using Humanizer;
@model SearchModel
@{
	ViewData["Title"] = Localizer["Search"];
	var searchResult = Model.SearchResult;
	var urlParams = new Dictionary<string, string>
{
{"Query", searchResult?.Query ?? ""}
};
}
<h1 class="h1">@Localizer["SearchText"]</h1>

<form action="/search" method="get" class="my-2">
	<div class="form-group">
		<div class="input-group">
			<input class="form-control" type="text" name="Query" value="@searchResult?.Query" placeholder=@Localizer["SearchPlaceholderText"] />
			<div class="input-group-append">
				<button class="btn badge-primary" type="submit">@Localizer["Search"]</button>
			</div>
		</div>
	</div>
</form>

@if (searchResult != null)
{
	<div class="mb-2">
		@("result".ToQuantity(searchResult.TotalResults))
		found for <strong>@searchResult.Query</strong>
	</div>

	<pager asp-page="Search"
				 url-params="urlParams"
				 current-page="searchResult.CurrentPage"
				 total-pages="searchResult.TotalPages">
	</pager>
	<div class="cwiki-flex-container">
		@foreach (var article in searchResult.Results)
		{
			@await Html.PartialAsync("_ArticleRow", article)
		}
	</div>

}
@section Styles {
	<style>
		.cwiki-flex-container {
			padding: 0;
			margin: 0;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-flow: row wrap;
			justify-content: space-around;
		}

		.cwiki-flex-item {
			width: 360px;
			color: white;
			border-radius: 20px;
		}
	</style>
}
