@using CoreWiki.Notifications.Models
@model CoreWiki.Notifications.Models.NewCommentEmailModel

@{
	ViewData["Title"] = @Model.Title;
	ViewData["BaseUrl"] = @Model.BaseUrl;
}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td bgcolor="#ffffff" align="center" style="padding: 20px 30px 60px 30px;">
			<p>
				Someone left a comment on an article you wrote.
			</p>

			<br />
		</td>
	</tr>
	<tr>
		<td bgcolor="#ffffff" align="center" style="padding: 20px 30px 60px 30px;">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td align="center" style="border-radius: 3px;" bgcolor="#061935">
						<a href="@Model.ArticleUrl" target="_blank" style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 15px 25px; border-radius: 2px; border: 1px solid #061935; display: inline-block;">
							View Comment
						</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
