<select id="selectTheme" class="form-control form-control-sm text-muted">
	<option class="bg-light text-primary">Light</option>
	<option class="bg-dark text-white">Dark</option>
</select>
<script>
	(function () {
		'use strict';
		function getCookie(name) {
			var value = "; " + document.cookie;
			var parts = value.split("; " + name + "=");
			if (parts.length == 2) return parts.pop().split(";").shift();
		}
		if (getCookie("CoreWikiTheme") == "Dark") {
			document.querySelector("#selectTheme").value = "Dark";
			var themedItems = document.querySelectorAll("select, body, pre, .card, .theme");
			for (var t of themedItems) {
				t.classList.add("bg-dark", "text-light");
			}
			var themedItems = document.querySelectorAll("a, button");
			for (var t of themedItems) {
				t.classList.add("text-light");
			}
			// Pager
			var themedItems = document.querySelectorAll(".page-link");
			for (var t of themedItems) {
				if (!t.parentElement.classList.contains("active")) {
					t.classList.add("bg-dark");
				};
			}
			// markdown editor fix
			var textareas = document.querySelectorAll("textarea");
			for (var t of textareas) {
				var wrapper = document.createElement("div");
				wrapper.classList.add("bg-light");
				t.parentNode.insertBefore(wrapper, t);
				wrapper.appendChild(t);
			}
		}
		var select = document.getElementById("selectTheme");
		select.addEventListener("change", function (ev) {
			console.log("Select Theme: " + ev.target.value);
			document.cookie = encodeURIComponent("CoreWikiTheme") + "=" + encodeURIComponent(ev.target.value) + "; path=/";;
			location.reload();
		});
	})();
</script>

