// Changing the theme colors
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$light: $gray-100 !default;
$dark: $gray-800 !default;

$navbar-dark-color: rgba($white, .8) !default;

$body-bg: $dark !default;
$body-color: $light !default;
$card-bg: $body-bg !default;
$table-head-bg: $body-bg !default;

@import 'custom-variables';

@import '../../node_modules/bootstrap/scss/bootstrap';

@import 'custom-styles';

.editor-toolbar {
	background-color: $gray-400;
}

.editor-statusbar {
	background-color: $gray-400;
	color: $dark;
}
